*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    width: 100%;
    font-family: "lato";
    color: #F9F9F9;
    overflow-y: auto;
 
}


li{
    list-style: none;
}
a{
    text-decoration: none;
    color: white;
}
.navbar{
    height: 90px;
    width: 100%;
    background-color: black;
    position: fixed;
    z-index: 1000;
    
  
}



.unordered-list{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.nav-details-1{
    gap: 35px;
    font-size: 20px;
    position: relative;
    left: 40px;
}
.nav-details-1 ,.nav-details-2 , .nav-details-3{
    display: flex;
    flex-direction: row;
}

.nav-details-2 {
    justify-content: center;
    align-items: center;
}
.nav-details-3{
        font-size: 25px;
        margin-right: 40px;
        gap: 20px;
        cursor: pointer;
}
.image-logo{
    width: 150px;
    height: 50px;
    margin-right: 120px;
}
.header-wrapper{
    background-color: #1A1A1A;


}
.fa-chevron-down{
    font-size: 16px;
}

.nav-details-1 li a:hover{
color:white

}

.nav-details-3 li span i:hover{
    color: white
}
.nav-details-1 li a{
    position: relative;
    text-decoration: none;
}
.nav-details-1 a::after{
    content: "";
    position: absolute;
    width: 0;
    height: 2.5px;
    bottom: -5px;
    left: 0;
    background-color: white;
transition: width 300ms ease;
}

.nav-details-1 a:hover::after{
width: 100%;
}

.hover-lists-div{
    position: absolute;
    z-index: 1;
    background-color: #1A1A1A;
    padding-top: 15px;
    display: none;

}
.unordered-hover-lists li{
display: flex;
justify-content: start;
margin-top: 10px;
margin-bottom: 10px;
margin-left: 0px;
margin-right: 4px;
cursor: pointer;
padding: 10px;
border-radius: 5px;
}
.unordered-hover-lists li:hover{
    background-color: #000000;
}

.pagess{
    display: block;
}

.itspageslist:hover .hover-lists-div{
    display: block;

}

.realpages{
    /* padding-bottom: 100px; */
}

.header-customer-details-wrapper{
    background-color: #000000;
    display: flex;
    width: 100%;
    align-items: center;

    height: 60px;

}
.header-customer-details{
    display: flex;
    gap: 15px;
    width: 100%;
        margin-left: 20px; 
     margin-right: 20px;
}

.top-details{
    display: flex;
    
}
.phone , .gmail{
    gap: 5px;
}
.gmail{
    display: flex;
    flex-grow: 1;
}
.nav-details-3{
    display: flex;
    /* justify-content: ce; */
    align-items: center;
}
.search-bar{
    display: flex;
    position: relative;
    justify-content: flex-end;
    /* align-items: center; */
    width: 200px;
    /* align-items: flex-end; */


}
input{
    width: 50px;
    height: 35px;
    outline: none;
    border: none;
    font-size: 20px;
    padding-left: 10px;
    padding-right: 45px;
    border-radius: 5px;

}

.fa-magnifying-glass {
    position: absolute;
    justify-content: flex-end;
    /* left: 8px; */
    right: 11px;
    top: 6px;
    font-size: 25px;
}

.search-bar:hover input{
    width: 200px;
    transition: width 500ms ease;

}
.hamburg{
    display: none;
}
.fa-bars{
    font-size: 30px;
    margin: 0px;

}

.image-logo-new{
    display: none;
    width: 100px;
}

.unordered-hamburg-lists{
    position: absolute;
width: 100vw;
height: 100vh;
left: 0;
position: fixed;
top: 0;
z-index: 1000;
background-color: #1A1A1A;
transition:  800ms ease-in-out;
transform: translateX(-100%);
}

.unordered-hamburg-lists li{
    /* padding: 20px; */
    width: 100%;
    padding: 20px;
    border-radius: 5px;
    

}

.unordered-hamburg-lists li:hover{
    background-color: #000000;
}
.itshome{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.first-home{
    display: flex;
}

.fa-xmarkk{
font-size:40px;
margin-right:10px;
margin-top: 5px;     
}

.fa-xmarkk:hover{
    font-size: 31px;
transform: width 1s ease;

}

.showsidehamburg{
    transform: translateX(0);
}
.hidesidehamburg{
    display: block;
}

.titlename{
    font-size: 35px;
}



@media(max-width:1272px){
    .nav-details-2{
        display: none;
    }
}

@media(max-width:805px){
    .nav-details-1{
        display: none;
    }
    .hamburg{
        display: block;
    }
}

@media(max-width:805px){
    .nav-details-2{
        display: block;
    }
    .image-logo{
        margin: 0px;
        margin-left: 25px;
    }
}

@media(max-width:571px){
    .image-logo{
        display: none;
    }

    .image-logo-new{
display: block;
width: 100px;
    }
}


@media(max-width:632px){
    .phone{
        display: none;
    }
}

@media(max-width:502px){
    .gmail{
        display: none;
    }
    .orderscheme{
        display: flex;
    }
    .image-logo-new{
        width: 70px;
    }
    
}

@media(max-width:456px){
    .search-bar {
        display: flex
    ;
        position: relative;
        justify-content: flex-end;
        /* align-items: center; */
        width: 150px;
        /* align-items: flex-end; */
    }

    .search-bar:hover input {
        width: 150px;
        transition: width 500msease;
    }
}

.landing-page-container{
    color: black;
    width: 100%;

    background-image: url(../images/hero4\ \(1\).png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 59%;

}
.landing-page-wrapper{
width: 100%;
height: 100%;
}
.landing-page-container{
    font-family: "poppins";
}

.first-text{
    font-size: 37px;
    color: #1a2b49;

}
.second-text{
    font-size: 60px;
    color: #eb1a2a;
    
}
.third-text{
    font-size: 60px;
    color: #eb1a2a;
    
}
.fourth-text{
    font-size: 25px;
    color: #3e2110;
    
}
.fifth-text {
    margin-left: 50px;
    font-size: 24px;
    margin-top: 10px;
    color: #1a2b49;
}
.lpc{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 700px;
    width: 100%;
    padding-left: 6vw;

    

    
}


    .shop-now {
        margin-top: 20px;
        margin-left: 0px;
        background-image: url(../images/button.png);
        background-repeat: no-repeat;
        background-size: 216px 60px;
        padding-bottom: 20px;
        width: 205px;
        cursor: pointer;
        transition: 0.3s ease;
    }


.shop-now:hover{
    transform: translateY(-10px);
}

.banner-section-wrapper{
    width: 100%;
    height: auto;
    margin-top: 2.5vw;
}
.banner-section-container{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    font-family: "Jost",sans-serif;
    overflow: hidden;

}

.banner-div-1{

    background-image: url(../images/banner-1.webp);

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10px;
    
}
.banner-div-2{

    background-image: url(../images/banner-2.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10px;

}
.banner-div-3{

    background-image: url(../images/banner-3.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10px;
    transition: background-size 2s ease-in-out;
    



}
.banner-div-3:hover{
    background-size: 106%;
    transition: 2s ease;


}.banner-div-2:hover{
    background-size: 106%;


}.banner-div-1:hover{
    background-size: 106%;


}
.same-div{
    margin: 10px;
    width: 30rem;
    height: 18rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 40px;
    cursor: pointer;
    border-radius: 10px;
    
}

.banner-first-text h1{
font-weight: 300;
font-size:1.3vw;
}
.banner-second-text h1{
    font-weight: 500;
    font-size: 2vw;
}
.banner-third-test h1{
    font-weight: 350;
    font-size: 1.7vw;
    
}
.banner-third-test h1:hover{
    transform: translateY(-4px);
    transition: 400ms ease;

}
.same-text{
    color: black;
}
.banner-third-test{
    margin-top: 15px;

}
.banner-second-text{
    margin-top: 5px;
}
.banner-third-test{
    transition: 400ms ease;

}



@media(max-width:999px){
    .same-div {
        width: 19rem;
        height: 11rem;
    } 
}

@media(max-width:647px){
    .same-div {
        width: 12rem;
        height: 7rem;
    } 
}
@media(max-width:424px){
    .same-div{
        width: 21rem;
        height: 11rem;
    } 
    .first-text-featured h1{
        font-size: 37px;
    }
    .shop-with-us h1{
        font-size: 37px;
    }
    .banner-first-text h1{
        font-size: 16px;
    }
    .banner-second-text h1{
        font-size: 25px;
    }
    .banner-third-test h1{
        font-size: 20px;
    }

}

.rules-and-conditions{
    margin-top: 50px;
    margin-bottom: 50px;
}
.rules-container{
    display: flex;
    
}
.rules-container div{
    width: 100px;
    height: 100px;
}

.rules-wrapper{
width: 100%;
height: auto;

}
.rules-container{
    display: flex;
    justify-content: space-evenly;
    row-gap: 20px;
    column-gap: 20px;
    height: auto;
    flex-wrap: wrap;

}
.rules-container div img{
    width: 80px;
    height: 80px;
}

.rules-container div {
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    font-size: 15px;
    background-color: black;
    align-items: center;
    flex-direction: column;
    background-color: #F9F9F9;
    color: black;
    border-radius: 10px;
    flex-wrap: wrap;

}
.rules-container div h1{
    font-weight: 500;

}
.rules-container div:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: 300ms ease;
}
.shop-with-us{
    display: flex;
    justify-content: center;
    font-size: 30px;
    color: black;
    margin-bottom: 50px;
}

.featured-products-wrapper{
    color: black;
}

.featured{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.first-text-featured{
    font-size: 30px;
}

.second-text-featured{
font-size: 13px;
margin-top: 10px;
}
.second-text-featured h1{
    font-weight: 400;
}

.featured-products-wrapper{
    width: 100%;
    height: 100%;
}
.featured-products-container{
width: 100%;
height: 100%;
}

.featured-single-cloth{
    width:220px;
    height: 377px;
    display: flex;
    flex-direction: column;
    background-color:#F3F3F3;
    justify-content: center;
    border-radius: 10px;
    align-items: center;
    font-size: 15px;
    
    cursor: pointer;
    margin-top: 20px;
}

.clothes-image-div img{
height: 200px;
transition: 100ms ease-in-out;

}

.featured-single-cloth-container{
    display: flex;
    column-gap: 45px;
    row-gap: 20px;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.clothes-image-div{
    display: flex;
    
    width: 180px;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 10px;
    height: 220px;
    
}
.featured-single-cloth:hover{
    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
    transition: 100ms ease;
    color: forestgreen;

    .clothes-image-div img{
        height: 220px;
        transition: 100ms ease-in-out;
    }
}

.brand-name{
    font-size: 14px;
    margin-top: 5px;
}

.cloth-name{
    font-size: 17px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: start;
    margin-top: 10px;

}


.cloth-cart{
    font-size: 23px;
    margin-right: 10px;
}

.cloth-price-cart{
    display: flex;
    width: 100%;
    margin-top: 15px;

}
.cloth-price{
    flex-grow: 1;
    margin-left: 10px;
    font-size: 23px;
    
}

.banner-section-div{
background-image: url(../clothes/b2.jpg);
width: 100%;
background-position: center;
height: 300px;
margin-top: 50px;

}

.banner-first-text{
    font-size: 25px;
}
.banner-second-text{
    font-size: 45px;
    margin-top: 0px;

    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}

.banner-main-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.scrolling-text-container{
    width: max-content;
    color: rgb(35, 34, 34);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: scroll 8s linear infinite;
    

}

.scrolling-text-container:hover{
animation-play-state: paused;
}

@keyframes scroll{
    from{
transform: translateX(0%);
    }
     to{
        transform: translateX(-50%);
     }
}

.scrolling-text-wrapper{
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    height: 100px;
    margin-top: 50px;
    margin-bottom: 50px;
    border-top: 2px solid rgb(221, 221, 221);
    border-bottom: 2px solid rgb(221, 221, 221);
}

.logo-container-section{
    width: 100%;
    min-height: 140px;
    margin-top: 50px;
    
}

.logo-container{
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: space-evenly;
    align-items: center;
    border-top: 2px solid rgb(221, 221, 221);
    border-bottom: 2px solid rgb(221, 221, 221);
    flex-wrap: wrap;
    column-gap: 40px;

}

.adidas{
    height: 50px;
}

.nike{
    height: 100px;
    margin-top: 20px;
}

.fila{
    height: 80px;
}

.reebok{
    height: 100px;
    margin-top: 10px;
}

.puma{
    height: 50px;
}

.asics{
height: 30px;
}

.blog-wrapper{
color: black;
width: 100%;
}

.blog-first-text{
    font-size: 40px;
}
.blog-second-text{
    font-size: 20px;
    margin-top: 10px;
    font-weight: 400;
}

.blog-heading{
    width: 100%;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.blog-section{
    margin-top: 50px;
    margin-bottom: 105px;
}

.same-image{
    height: 280px;
}

.blog-container{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    row-gap: 40px;
}

.blog-container div div h1{
    font-weight: 550;
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.button-24 {
  background: #000000;
  border: 1px solid #000000;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

.button-24:hover,
.button-24:active {
  background-color: initial;
  background-position: 0 0;
  color: #000000;
}

.button-24:active {
  opacity: .5;
}


.footer-wapper{
    color: white;
    width: 100%; 
    background-color: black;
    height: auto;
    padding-bottom: 30px;
    position: relative;
}

.footer-container h1{
    font-weight:400;
    display: flex;
}

.footer-container{
    padding-top: 40px;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    flex-wrap: wrap;
    column-gap: 10px;
    row-gap: 30px;
    padding-left: 20px;
    padding-right: 20px;
    align-items: center;

}

.same-elements{
    font-size: 15px;
    color: #979797;
    cursor: pointer;
}

.same-elements:hover{
    text-decoration: underline;
}

.sameee{
    display: flex;
    flex-direction: column;
    row-gap: 13px;
}
.footer-main-head{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 3px;
}
.googleandapp-header{
    display: flex;
    column-gap: 10px;
}

.googleandapp{
    background-color: white;
    color: white;
    height: 40px;
    border-radius: 10px;
}

.pay-image{
height: 23px;
}

.wave{
    left: 0;
    top: -100px;
    position: absolute;
    height: 100px;
    width: 100%;
background-image: url(../images/ii.png);
background-color: black;
background-size: 1550px 100px;

}

#wave1{
    z-index: 1000;
    opacity: 1;
    bottom: 0;
    animation: animatewave 4s linear infinite;
}

@keyframes animatewave {
    0%{
        background-position: 1550px;
    }
    100%{
        background-position: 0px;
    }
}

.imageforpopup{
    height: 453px;
}
.popup-model-section{
width: 100%;
    height: 450px;
    color: black;
    display: flex;
    justify-content: center;
    z-index: 1000;
    position: fixed;
    top: 170px;
    
}
.popip-model-wrapper{
    width: 775px;
    height: 453px;
    /* background-color: black;
    color: white; */
position: relative;
background-color: white;
/* padding-left: 20px;
padding-right: 20px; */
margin-left: 20px;
margin-right: 20px;

}

.popup-model-container{
display: flex;
justify-content: center;
align-items: center;
column-gap: 20px;
box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);

}

.popupfirsttext{
font-size: 44px;
}
.popupsecondtext{
font-size: 20px;
}
.popupthirdtext{

}
.popupfourthtext{
font-size: 20px;
cursor: pointer;
transition: 100ms ease;
}

.popupfourthtext:hover{
font-size: 20.5px;
transition: 100ms ease;

    
}
.popup-input{
  background-color: rgba(255, 255, 255, 0.833);
  color: rgb(0, 0, 0);
  width: 300px;
  border: none;
  outline: none;
  border-radius: 0px;
  height: 50px;
  font-size: 17px;
  padding-right: 10px;
  border: 2px solid  rgb(193, 191, 191);

}

.button-25 {
    background: #000000;
    border: 1px solid #000000;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
    min-height: 40px;
    outline: 0;
    padding: 12px 14px;
    text-align: center;
    text-rendering: geometricprecision;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    width: 300px;
    height: 50px;
    
  }
  
  .button-25:hover,
  .button-25:active {
    background-color: initial;
    background-position: 0 0;
    color: #000000;
  }
  
  .button-25:active {
    opacity: .5;
  }
  
  .popup-content-div{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .popup-xmark{
    /* display: inline-block;
    position: absolute;
    top: 10px;
    right: 30px;

    cursor: pointer; */
    font-size: 25px;
    top: 3px;

  }

  .popup-model-section{
    display: none;
  }

  .bg-color{
    opacity: 0.1; /* Slightly higher opacity for visibility */
    pointer-events: none;

  }
  .all-main{
    min-height: 100vh;
    transition: opacity 0.2s ease;
  }

  
@media(max-width:492px){

    .same-image{
        height: 226px;

    }
  }

  @media(max-width:410px){

    .same-image{
        height: 180px;

    }

    .blog-first-text {
        font-size: 35px;
    }
  }


  @media(max-width:423px){

    .blog-first-text {
        font-size: 37px;
    }
  }

  .button-59 {
    margin-top: 20px;
    align-items: center;
    background-color: #fff;
    border: 2px solid #000;
    box-sizing: border-box;
    color: #000;
    cursor: pointer;
    display: inline-flex;
    fill: #000;
    font-family: Inter,sans-serif;
    font-size: 16px;
    font-weight: 600;
    height: 48px;
    justify-content: center;
    letter-spacing: -.8px;
    line-height: 24px;
    min-width: 140px;
    outline: 0;
    padding: 0 17px;
    text-align: center;
    text-decoration: none;
    transition: all .3s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .button-59:focus {
    color: #171e29;
  }
  
  .button-59:hover {
    border-color: #06f;
    color: #06f;
    fill: #06f;
  }
  
  .button-59:active {
    border-color: #06f;
    color: #06f;
    fill: #06f;
  }
  
  @media (max-width: 768px) {
    .button-59 {
      min-width: 170px;
    }
  }

  @media(max-width: 668px){
    .popip-model-wrapper {
        width: 471px;
        height: 460px;
    }

    .popup-model-container {
        display: flex;
        flex-direction: column;
        height: 460px;
    }
    .popup-model-section{
        top: 110px;
    }

    .imageforpopup{
        display: none;
    }
  }

  .popup-xmark-DIV{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 1px;
    padding-bottom: 1px;
    background-color: black;
    border-radius: 50px;
    display: inline-block;
    position: absolute;
    top: 10px;
    right: 30px;
    font-size: 30px;
    cursor: pointer;
  }

  @media(max-width:598px){
    .lpc{
        text-align: center;
    }
.shop-now{
    background-position: center;
    width: 100%;
}


    .first-text{
font-size: 30px;
    }

    .second-text{
font-size: 50px;
    }

    .third-text{
font-size: 50px;
    }

    .fourth-text{
        font-size: 20px;
    }

    .fifth-text{
        margin-left: 25px;
    }


  }


  @media(max-width:598px){
    .lpc{
        text-align: center;
    }


    .first-text{
font-size: 25px;
    }

    .second-text{
font-size: 40px;
    }

    .third-text{
font-size: 40px;
    }

    .fourth-text{
        font-size: 18px;
    }
  }


    .social-media-icons {
        column-gap: 11px;
        display: flex
    ;
        font-size: 30px;
    }


@media(max-width:485px){
    .featured-single-cloth-container{
        /* column-gap: 0; */
    }
}
  